[submodule "waterbug-device"]
	path = waterbug-device
	url = https://github.com/codefoster/waterbug-device.git
[submodule "waterbug-client"]
	path = waterbug-client
	url = http://github.com/codefoster/waterbug-client
[submodule "waterbug-server"]
	path = waterbug-server
	url = http://github.com/codefoster/waterbug-server
