[submodule "waterbug-device"]
	path = waterbug-device
	url = https://github.com/codefoster/waterbug-device.git
[submodule "waterbug-ui"]
	path = waterbug-ui
	url = http://github.com/codefoster/waterbug-ui
[submodule "waterbug-server"]
	path = waterbug-server
	url = http://github.com/codefoster/waterbug-server
