.img-circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: none; }

.profiles {
    display:flex;
    flex-direction: column;
}

.profiles > div {
    display:flex;
}

.profiles > div p {
    text-align:left;
    margin-left:20px;
}

.competition {
    display:flex;
}

.competition > div {
    display:flex;
    flex-direction: column;
}

.competition img {
    height:220px;
}

.overview > div {
    display:flex;
    flex-direction: row;
    text-transform:uppercase;
}

.overview > div > div {
    border:2px solid black;
    flex: 1;
    margin: 5px;
    box-shadow: 3px 3px 10px 0 #ccc;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 1px 2px);
    padding-top:40px;
    padding-bottom:40px;
}

.overview .part {
    text-transform:uppercase;
    font-size:24pt;
    margin:0px;
    
}

.overview .title {
    margin:0px;
    font-weight:bold;
    line-height: 50%;
    margin-bottom:40px;
}

.overview .body p {
    font-size:18pt;
    margin:0px;
    line-height: 100%;
}